.Coin img {
     width: 200px;
}

.rotate {
     animation: rotate-anim 500ms linear 1;
}

@keyframes rotate-anim {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
